<footer class="main-footer">
	<div class="endorsement-logos">
		{% for endorsement in options.endorsement_logos %}
			<img class="endorsement-logo" src="{{ TimberImage(endorsement.logo).src }}" alt="{{ TimberImage(endorsement.logo).alt }}">
		{% endfor %}
	</div>
	<div class="copyright-information">
		Copyright © {{ site.name }} {{"now"|date('Y')}} {{ options.footer_text }}
	</div>
</footer>
